.DS_Store
.idea
simulation/.env
simulation/.idea
simulation/__pycache__
simulation/*.cer
simulation/*.pem
simulation/creds/*.cer
simulation/creds/*.pem
simulation/creds/*.wav
simulation/tests/.pytest_cache
simulation/tests/*.wav
simulation/tests/log
simulation/*.log
simulation/raw_files
simulation/config/commands.txt
simulation/creds2
simulation/log2
simulation/src_train
simulation/commands.txt
simulation/config/SETUP_STEPS
simulation/config/run_configs.txt